﻿@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QRMenu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QRMenu_Mvc.styles.css" asp-append-version="true" />
</head>
<body style="background-color: #F0CA71;">
    <div style="display: flex; justify-content: center;">
        <img src="~/images/5.png" alt="QRMenu Logo" style="width: 320px; height: 320px;" />
    </div>
    <br>
    <div class="text-center">
        <h1 class="display-4" style="font-family: 'Playfair Display', serif;">Welcome</h1>
        <p style="font-family: 'Poppins', sans-serif;"></p>
    </div>
</body>
</html>